<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://docxstorageupdated20230914170026.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/24019aa5-f0a4-4d05-8f72-6dfa0629c6ef/resourcegroups/AzureResourceGroup/providers/Microsoft.Web/sites/DocxStorageUpdated20230914170026</ResourceId>
    <UserName>$DocxStorageUpdated20230914170026</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://docxstorageupdated20230914170026.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net7.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>